html, body {
  background-color: orange; 
  height: 100%;
  margin: 0;  
  overflow: hidden; 
}

.map-container {
  width: 80%;
  height: 500px; 
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}